* {
    margin: 0%;
}

header {
    height: 75px;
    background-color: black;
}

#logo {
    position: absolute;
    width: 206px;
    height: 41.56px;
    left: 16px;
    top: 6px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 53px;
    text-align: center;

    color: #E8E6E3;
}